.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

p-card {
  margin: 10px;
  box-shadow: 3px, 3px 8px black;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}
