<h1>Jugadores del equipo</h1>
<p-button label="Añadir jugador al equipo" (click)="createButton()"></p-button>
<div *ngIf="cButton == true">
  <p-card>
    <div class="wrap">
      <div class="input">
        <label for="firstname6">Nombre</label>
        <input
          id="firstname6"
          type="text"
          [(ngModel)]="newPlayer['Nombre del Jugador']"
          pInputText
        />
      </div>
      <div class="input">
        <label for="lastname6">Avatar</label>
        <input
          id="lastname6"
          type="text"
          [(ngModel)]="newPlayer.Avatar"
          pInputText
        />
      </div>
    </div>
  </p-card>
  <p></p>

  <p-button label="Guardar" (click)="createPlayer()"></p-button>
  <p>{{ newPlayer["Nombre del Jugador"] }}</p>
</div>
<div class="wrap">
  <p-card
    [header]="player['Nombre del Jugador']"
    [style]="{ width: '260px', heigth: ' 300px' }"
    styleClass="p-card-shadow"
    *ngFor="let player of players"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="player.Avatar" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        label="Mostrar mas..."
        routerLink="/player/{{ player.id }}"
      ></p-button>
    </ng-template>
  </p-card>
</div>
