<h1>Todos Jugadores</h1>
<div class="wrap">
  <p-card
    [header]="player['Nombre del Jugador']"
    [style]="{ width: '260px', heigth: ' 300px' }"
    styleClass="p-card-shadow"
    *ngFor="let player of players"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="player.Avatar" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        label="Mostrar mas..."
        routerLink="/player/{{ player.id }}"
      ></p-button>
    </ng-template>
  </p-card>
</div>
