<div class="container">
  <div class="p-col-12 p-md-4">
    <div class="p-inputgroup">
      <button
        type="button"
        routerLink="query/{{ nameQuery }}"
        pButton
        pRipple
        label="Buscar"
      ></button>

      <p-autoComplete
        placeholder="Nombre de jugador"
        [(ngModel)]="nameQuery"
        [suggestions]="results"
        (completeMethod)="search($event)"
      ></p-autoComplete>
    </div>
  </div>
  <div class="p-col-12 p-md-4">
    <div class="p-inputgroup">
      <button
        type="button"
        routerLink="querybyteam/{{ teamQuery }}"
        pButton
        pRipple
        label="Buscar"
      ></button>

      <p-autoComplete
        placeholder="Nombre del equipo"
        [(ngModel)]="teamQuery"
        [suggestions]="results"
        (completeMethod)="searchT($event)"
      ></p-autoComplete>
    </div>
  </div>
</div>

<h1>Ligas de Futbol</h1>
<div class="wrap">
  <p-card
    [header]="league['Nombre De La Liga']"
    [style]="{ width: '250px', heigth: ' 300px' }"
    styleClass="p-card-shadow"
    *ngFor="let league of leagues"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="league['Logo de la Liga']" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        label="Mostrar equipos"
        routerLink="/teams/{{ league.Identificador }}"
      ></p-button>
    </ng-template>
  </p-card>
</div>
