.wrap {
  display: grid;
  grid-template-columns: 1fr 75%;
}

p-card {
  margin: 10px;
  box-shadow: 3px, 3px 8px black;
}

h1 {
  color: white;
  text-align: center;
}
label {
  margin: 10px;
}
input {
  margin: 4px;
}
