/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://cdn.pixabay.com/photo/2014/10/14/20/24/ball-488718_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow: scroll;
}
